asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
dj-database-url==0.5.0
Django==3.1.4
django-mercadopago==6.0.1
gunicorn==20.0.4
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
mercadopago==0.3.5
Pillow==8.1.0
psycopg2==2.8.6
pycodestyle==2.6.0
pylint==2.6.0
pylint-django==2.4.2
pylint-plugin-utils==0.6
python-decouple==3.4
pytz==2020.4
requests==2.25.1
setuptools-git==1.2
setuptools-scm==5.0.1
six==1.15.0
sqlparse==0.4.1
stripe==2.55.1
suds-jurko==0.6
toml==0.10.2
urllib3==1.26.3
whitenoise==5.2.0
wrapt==1.12.1
